    
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if request.auth.token.fireCMSUser;
    }
    match /blog/{blogId} {
      allow get: if true
      allow list: if true
      allow create: if false
      allow update: if false
      allow delete: if false
    }
  }
}