
rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Custom default security rules for FireCMS. Modifying this rule will the usage of the FireCMS.
    match /{allPaths=**} {
        allow read: if true;
        allow write: if request.auth.token.fireCMSUser;
    }
  }
}